* {
  padding: 0px;
  margin: 0px;
}

#root {
  padding: 10px;
}

#root div {
  margin-bottom: 8px;
}

.loading-wrapper {
  display: flex;
  font-size: 14px;
  color: #999;
}

.loading {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid #247fff;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
  margin-right: 10px;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  padding: 10px 16px;
  outline: none;
  border: none;
  color: white;
  background-color: #247fff;
  margin-right: 10px;
}

.btn[disabled] {
  opacity: 0.6;
}